net.resheim.eclipse.kickassembler.ui/reference/c64/c64io.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="iomap">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="entry" maxOccurs="unbounded">
					<xs:complexType mixed="true">
						<xs:sequence minOccurs="0">
							<xs:element name="pre" minOccurs="0" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="address" use="required" />
						<xs:attribute name="name" use="required" />
						<xs:attribute name="id" type="xs:ID" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>