net.resheim.eclipse.cc.ui/reference/6502.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:jxb="https://jakarta.ee/xml/ns/jaxb"
  jxb:version="3.0">
  <xs:element name="mnemonics">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="mnemonic" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id" use="required" />
                <xs:attribute type="xs:string" name="name" use="required" />
                <xs:attribute type="xs:string" name="flags" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="group">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="mnemonic" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="id" use="required" />
                      <xs:attribute type="xs:string" name="name" use="required" />
                      <xs:attribute type="xs:string" name="flags" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="description" maxOccurs="1" minOccurs="1">
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>